@font-face {
  font-family: "Cairo-Light";
  src: local("Oxygen-Light"),
   url("./fonts/Cairo-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Cairo-Medium";
    src: local("Cairo-Medium"),
     url("./fonts/Cairo-Medium.ttf") format("truetype");
    }
    @font-face {
      font-family: "Cairo-Bold";
      src: local("Cairo-Bold"),
       url("./fonts/Cairo-Bold.ttf") format("truetype");
      }
  .CairoLight{
  font-family: "Cairo-Light" !important;
  }
  .CairoMedium{
    font-family: "Cairo-Medium" !important;
    }
    .CairoBold{
      font-family: "Cairo-Bold" !important;
      }
*{
  font-family: "Cairo-Medium" ;
}
.Link_noStyle{
  text-decoration: none ;
  color: black;
  transition: 0.4s;
}
.Link_noStyle:hover{
  color: rgb(47, 47, 47);
}